<div class="form-header">
  @if (showBackButton) {
    <button
      mat-icon-button
      (click)="onBackClick()"
      class="form-header__back-btn"
    >
      <mat-icon>arrow_back</mat-icon>
    </button>
  }
  <div class="form-header__content">
    <div class="form-header__main">
      <mat-icon class="form-header__icon">{{ icon }}</mat-icon>
      <div class="form-header__text">
        <h1 class="form-header__title">{{ title }}</h1>
        <div class="form-header__divider"></div>
      </div>
    </div>
    <p class="form-header__subtitle">{{ subtitle }}</p>
  </div>
</div>
