<div class="form-header">
  <div class="form-header__bg">
    <div class="form-header__shape shape-1"></div>
    <div class="form-header__shape shape-2"></div>
    <div class="form-header__shape shape-3"></div>
  </div>
  <button
    class="form-header__back-btn"
    *ngIf="showBackButton"
    (click)="onBackClick()"
    aria-label="Voltar"
  >
    <mat-icon>arrow_back</mat-icon>
  </button>
  <div class="form-header__content">
    <h1 class="form-header__title">{{ title }}</h1>
    <p class="form-header__subtitle">{{ subtitle }}</p>
  </div>
  <mat-icon class="form-header__icon" *ngIf="icon">{{ icon }}</mat-icon>
</div>
