$page-color: #0088af;
$ball-size: 16px;
$ball-spacing: 10px;

.loading {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.3);

  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__balls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $ball-spacing;
  }

  &__ball {
    width: $ball-size;
    height: $ball-size;
    background-color: $page-color;
    border-radius: 50%;
    animation: bounce 0.6s infinite alternate;

    &:nth-child(1) {
      animation-delay: 0s;
    }

    &:nth-child(2) {
      animation-delay: 0.2s;
    }

    &:nth-child(3) {
      animation-delay: 0.4s;
    }
  }

  &__message {
    color: gray(60);
    text-align: center;
    bottom: -50px;
    opacity: 0;
    transition:
      opacity 0.3s linear,
      transform 0.3s linear;
    max-width: 100%;

    &__text {
      font-weight: bold;
      color: $page-color;
    }
  }

  &--loading {
    height: 100vh;
    transition: all 0.3s ease-out;

    .loading__message {
      opacity: 1;
      transition: opacity 0.3s linear 0.3s;
    }

    .loading__balls {
      opacity: 1;
      animation: none;
    }
  }
}

@media (max-width: 480px) {
  $ball-size: 12px;
  $ball-spacing: 8px;

  .loading {
    .loading__balls {
      gap: $ball-spacing;
    }

    .loading__ball {
      width: $ball-size;
      height: $ball-size;
    }

    .loading__message {
      font-size: 14px;
    }
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20px);
  }
}
