$page-color: #0088af;
$ball-size: 16px;
$ball-spacing: 10px;

.page-preloading {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.3);

  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .page-preloading__balls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $ball-spacing;

    .page-preloading__ball {
      width: $ball-size;
      height: $ball-size;
      background-color: $page-color;
      border-radius: 50%;
      animation: bounce 0.6s infinite alternate;
    }

    .page-preloading__ball:nth-child(1) {
      animation-delay: 0s;
    }

    .page-preloading__ball:nth-child(2) {
      animation-delay: 0.2s;
    }

    .page-preloading__ball:nth-child(3) {
      animation-delay: 0.4s;
    }
  }

  .page-preloading__message {
    color: gray(60);
    text-align: center;
    bottom: -50px;
    opacity: 0;
    transition:
      opacity 0.3s linear,
      transform 0.3s linear;
    max-width: 100%;

    .page-preloading__message-text {
      font-weight: bold;
      color: $page-color;
    }
  }

  &.page-preloading--loading {
    height: 100vh;
    transition: all 0.3s ease-out;

    .page-preloading__message {
      opacity: 1;
      transition: opacity 0.3s linear 0.3s;
    }

    .page-preloading__balls {
      opacity: 1;
      animation: none;
    }
  }
}

@media (max-width: 480px) {
  $ball-size: 12px;
  $ball-spacing: 8px;

  .page-preloading {
    .page-preloading__balls {
      gap: $ball-spacing;

      .page-preloading__ball {
        width: $ball-size;
        height: $ball-size;
      }
    }

    .page-preloading__message {
      font-size: 14px;
    }
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20px);
  }
}
