<div class="tutor-card" (click)="onCardClick()">
  <app-card-image
    [photoUrl]="tutor.foto?.url"
    [alt]="tutor.nome"
    [icon]="'person'"
  ></app-card-image>
  <div class="tutor-card__content">
    <div class="tutor-card__header">
      <h3 class="tutor-card__name">{{ tutor.nome }}</h3>
    </div>

    <div class="tutor-card__details">
      @if (tutor.telefone) {
        <div class="tutor-card__detail">
          <mat-icon class="tutor-card__detail-icon">phone</mat-icon>
          <span class="tutor-card__detail-text">{{
            tutor.telefone | phoneFormat
          }}</span>
        </div>
      }

      @if (tutor.email) {
        <div class="tutor-card__detail">
          <mat-icon class="tutor-card__detail-icon">email</mat-icon>
          <span class="tutor-card__detail-text">{{ tutor.email }}</span>
        </div>
      }

      @if (tutor.endereco) {
        <div class="tutor-card__detail">
          <mat-icon class="tutor-card__detail-icon">location_on</mat-icon>
          <span class="tutor-card__detail-text">{{ tutor.endereco }}</span>
        </div>
      }
    </div>
  </div>
</div>
