<div class="pet-card">
  <div class="pet-card__image" [class.pet-card__image--no-photo]="!hasPhoto()">
    @if (hasPhoto()) {
      <img [src]="pet.foto!.url" [alt]="pet.nome" (error)="onImageError()" />
    }
    @if (!hasPhoto()) {
      <div class="pet-card__placeholder">
        <mat-icon>pets</mat-icon>
        <span>Sem foto</span>
      </div>
    }
  </div>
  <div class="pet-card__content">
    <div class="pet-card__header">
      <h3 class="pet-card__name">{{ pet.nome }}</h3>
    </div>

    <div class="pet-card__details">
      <div class="pet-card__detail">
        <mat-icon class="pet-card__detail-icon">cake</mat-icon>
        <span class="pet-card__detail-text">{{ getAgeText(pet.idade) }}</span>
      </div>

      @if (pet.raca) {
        <div class="pet-card__detail">
          <mat-icon class="pet-card__detail-icon">category</mat-icon>
          <span class="pet-card__detail-text">{{ pet.raca }}</span>
        </div>
      }
    </div>
  </div>
</div>
