<div class="login__container">
  <div class="login__card">
    <h1>Pet Manager</h1>
    <h2>Login</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="login__form-field">
        <mat-label>Usuário</mat-label>
        <input
          matInput
          id="username"
          type="text"
          formControlName="username"
          placeholder="Digite seu usuário"
          aria-required="true"
          autocomplete="off"
        />
        <mat-error matErrorMessages></mat-error>
      </mat-form-field>

      <mat-form-field class="login__form-field">
        <mat-label>Senha</mat-label>
        <input
          matInput
          id="password"
          type="password"
          formControlName="password"
          placeholder="Digite sua senha"
          aria-required="true"
          autocomplete="off"
        />
        <mat-error matErrorMessages></mat-error>
      </mat-form-field>

      <button
        type="submit"
        class="login__button"
        [disabled]="loginForm.invalid"
      >
        Entrar
      </button>
    </form>

    <p class="login__hint">Use: admin / admin</p>
  </div>
</div>
